@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
   background-image: url(../img/1612433041_35-p-korichnevii-fon-s-razvodami-38.jpg);
}
ul{
    list-style: none;
}
.container{
    max-width: 700px;
    margin: 50px auto;
}
.title{
    color: white;
}
.age-label{
    color: white;
}
.hero-input{
    width: 200px;
    height: 36px;
    border-radius:8px;
}
.button{
      width: 53px;
    height: 41px;
    border-radius: 8px;
}
.button:active{
    background-color: teal;
    color:white;
    border: none;
}
.text{
    color: white;
}